@keyframes iconAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  box-sizing: border-box;
  border-block-end: 1px solid rgba(5, 5, 5, 0.06);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  & h3 {
    margin: 0;
  }
}

.icon {
  animation: iconAnimation 5s linear infinite;
  width: 48px;
  height: 48px;
}
