.root {
  --map-size-height: 360px;
}

@media screen and (min-width: 1280px) {
  .root {
    --map-size-height: 360px;
  }
}
@media screen and (min-width: 1920px) {
  .root {
    --map-size-height: 380px;
  }
}

.map {
  width: 100%;
  height: var(--map-size-height);
}

.chart {
  width: 100%;
  height: var(--map-size-height);
}

.body {
  --ant-card-body-padding: 14px;
}
