.wrap {
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
}

.radio {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 2px;
  border-radius: 50%;
  background: linear-gradient(
    240deg,
    rgba(103, 243, 255, 0.71),
    rgba(100, 238, 255, 0.3),
    rgba(81, 218, 255, 0.11),
    rgba(63, 191, 255, 0.03),
    rgba(81, 218, 255, 0)
  );
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/radio.png');
  }
}

.inner {
  width: 100%;
  height: 100%;
  background: #041722;
  border-radius: inherit;
  position: relative;

  &[data-checked='true'] {
    &::before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(240deg, #95efff 0%, rgba(117, 209, 255, 0.24) 100%);
      box-shadow:
        0px 0px 8px 0px rgba(100, 184, 255, 0.61),
        inset 0px 1px 1px 0px rgba(220, 250, 255, 0.38);
      border-radius: 50%;
    }
  }
}
