.ground {
  width: 1280px;
  height: 720px;
  border: 1px solid var(--ant-color-split);
  border-radius: 8px;
  background: var(--ant-layout-body-bg);
  position: relative;
}

.item {
  position: absolute;
  width: 100px;
  height: 3px;
  background: red;
}

.camera {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
